[defaults]
; These are the default parameters of spr2gif converter.
; They can be overridden by the command line parameters with the same names,
; or with their short aliases.

; use_binary_transparency parameter specifies how the transparent pixels are
; rendered:
; When use_binary_transparency is 1, each pixel can be either fully opaque or
;  fully transparent: if pixel's alpha < treshold, the pixel is invisible.
;  bgColor is considered as transparent color.
; When use_binary_transparency is 0, the bgColor parameter and the value of
;  alpha channel of pixel are used.
; Command line aliases:
;   '-b=val' equals to '-use_binary_transparency=val'
;   '-b' without any value means '-use_binary_transparency=1'
use_binary_transparency=0

; bgColor parameter defines the background color of the image.
; HTML or JavaScript values can be used (see colors.cfg file for color names)
; Command line alias: '-bg=val'
bgColor=lightgrey

; This is the alpha value treshold for transparency or opaqueness.
; Valid values are from 1 to 256. 1 means that pixel is visible when its alpha
;  is above zero. 256 means that every pixel is transparent, indepentently of
;  the its alpha value.
; Command line alias: '-t=val'
treshold=128

; Set opaque_gif to 1, if you want to make opaque GIF files, when
;  use_binary_transparency is 1 (when use_binary_transparency is 0, every GIF
;  is opaque anyway).
; When use_binary_transparency is 1 and opaque_gif is 0, the GIF file is
;  transparent, so it can be placed against any background on, say, web-page.
; Command line aliases:
;   '-o=val' is equivalent to '-opaque_gif=val'
;   '-o' without any value means '-opaque_gif=1'
opaque_gif=0

; Set use_LZW to 1 to use LZW compression in the GIF file. If the parameter
; is 0, the GIF-compatibly RLE is used. The file will be a little larger, but
; no patents are involved.
; Command line alias: '-l=val' or '-l'
use_LZW=1

; Animation speed in milliseconds
; Command line alias: '-a=val'
; Do not use - not implemented yet.
; anim_speed=100

; Animated image can be static (the object is always top-left aligned) or
; dynamic (the object is placed where it was designed to be). If static_anims=0
; the GIFs are larger, but look more realistic (recommended and default).
; Command line aliases:
;   '-s=val' equals to '-static_anims=val'
;   '-s' without any value means '-static_anims=1'
static_anims=0

; Since images can contain more colors than the GIF format can hold, the color
; reduction is used (palette is reduced to 256 or less colors). Floyd Steinberg
; dithering then can be used to accurately approximate original image.
; This dithering is rather slow and somethimes distrorts the background color.
; If such color distortion occurs, turn the dithering off ('Nearest color
; matching' approximation will be used instead).
; Command line alias: '-d=val'
dithering=1
