{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 80,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "react/require-default-props": "off",
    "semi": ["error", "never"],
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": false,
    "react/jsx-one-expression-per-line": false
  }
}
