{
  "extends": "airbnb",
  "rules": {
   "max-len": ["error", { "code": 80 }],
   "react/require-default-props": "off",
   "semi": ["error", "never"],
   "import/no-unresolved": 0,
   "import/extensions": 0,
   "import/prefer-default-export": 0,
   "react/jsx-filename-extension": false,
   "react/jsx-one-expression-per-line": false,
    }
}
